@font-face {
  font-family: "Inter";
  src: url(../assets/fonts/Inter-Regular.ttf);
}

@font-face {
  font-family: "Inter-Bold";
  src: url(../assets/fonts/Inter-Bold.ttf);
}

* {
  background-color: #fbf2e9;
  font-family: "Inter";
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container .search-window {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container .search-window .header {
  font-family: "Inter-Bold";
}

.container .search-window .search-form {
  border-style: solid;
  border-radius: 5px;
  border-color: #d1cdc9;
  border-width: thin;
  padding: 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container .search-window .search-form .title {
  display: flex;
  width: 80%;
  margin-bottom: 10px;
}

.container .search-window .search-form .title span {
  margin-right: 30px;
}

.container .search-window .search-form .title input {
  width: inherit;
  background: #fff;
  border-radius: 5px;
  border-width: thin;
  padding-left: 5px;
}

.container .search-window .search-form .type {
  width: 80%;
  display: flex;
  margin-bottom: 10px;
}

.container .search-window .search-form .type span {
  margin-right: 30px;
}

.container .search-window .search-form .type select {
  background-color: #fff;
  width: inherit;
  border-radius: 5px;
  border: solid;
  border-width: thin;
}

.container .search-window .search-form .type select option {
  background-color: #fff;
}

.container .search-window .search-form .btn {
  width: 80%;
  text-decoration: none;
  color: #000;
  background-color: #e1e1e1;
  border-radius: 5px;
  text-align: center;
  border: solid;
  border-width: thin;
}
