main {
  display: grid;
  justify-content: center;
}

main .main-navbar {
  width: 900px;
  display: flex;
  align-items: center;
  margin-top: 30px;
  background-color: #414146;
  height: 75px;
}

main .main-navbar .main-navbar-logo {
  margin: 30px;
}

main .main-navbar .main-navbar-logo span {
  color: #ededed;
}

main .main-navbar .main-navbar-logo span .yellow-text {
  color: #cfc012;
}

main .main-navbar .main-navbar-menu {
  height: 100%;
  display: flex;
  align-items: center;
}

main .main-navbar .main-navbar-menu .main-navbar-links {
  list-style-type: none;
  height: 100%;
  display: flex;
}

main .main-navbar .main-navbar-menu .main-navbar-links .main-navbar-link {
  height: 100%;
}

main .main-navbar .main-navbar-menu .main-navbar-links .main-navbar-link :hover {
  background-color: #ffea00;
  color: #000;
}

main .main-navbar .main-navbar-menu .main-navbar-links .main-navbar-link a {
  padding-left: 10px;
  padding-right: 10px;
  height: 100%;
  text-decoration: none;
  color: #ededed;
  display: flex;
  align-items: center;
}

main .main-navbar .main-navbar-menu .search-container {
  height: 100%;
}

main .main-navbar .main-navbar-menu .search-container .search-bar {
  background-color: #565a60;
  border: none;
  outline: none;
  height: 100%;
  padding: 0;
  padding-left: 10px;
  color: #ededed;
}
