@font-face {
  font-family: "Inter Regular";
  src: url(../assets/fonts/Inter-Regular.ttf);
}

@font-face {
  font-family: "Inter Bold";
  src: url(../assets/fonts/Inter-Bold.ttf);
}

.navbar {
  background-color: #262626;
  height: 50px;
  display: flex;
  align-items: center;
}

.navbar .nav-logo {
  display: flex;
  height: 100%;
  align-items: center;
  margin-left: 20px;
}

.navbar .nav-logo a {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.navbar .nav-logo a span {
  color: #618338;
}

.navbar .nav-logo a span .logo-bolt-text {
  font-family: "Inter Bold";
  color: #ededed;
}
