* {
  font-family: "Inter Regular";
}

body {
  margin: 0;
}

.btn {
  text-decoration: none;
  background-color: #82b440;
  padding: 10px;
  width: 100px;
  text-align: center;
  border-radius: 3px;
  color: #ededed;
  position: absolute;
  right: 0;
  margin-right: 20px;
}
